API<Async> MyAPI
    broker
        type: {{broker.type}}
        host: "{{broker.host}}"
        port: {{broker.port}}
        {% if broker.username  %}
        username: "{{broker.username}}"
        {% endif %}
        {% if broker.password  %}
        password: "{{broker.password}}"
        {% endif %}
    end

    endpoints
    {% for e in endpoints %}
        {% if e.type == "publisher" %}
        publisher
            uri: "{{ e.uri }}"
            msg: {{ e.msg.name }}
            {% if e.namespace  %}
            namespace: "{{ e.namespace }}"
            {% endif %}
        end
        {% endif %}
    {% endfor %}
    end

    messages
    {% for msg in msgs %}
        {% if msg.__class__.__name__ == "TopicMessage" %}
        TopicMsg {{ msg.name }}
            {% for p in msg.properties %}
            {{ p.name }}: {{ p.type.name }}
            {% endfor %}
        end
        {% endif %}
    {% endfor %}
    end
end
