{% for sensor in sensors %}
Entity {{ sensor['name'] }}
    type: {{ sensor['type'] }}
    topic: "{{ sensor['topic'] }}"
    broker:
        ref: {{ sensor['broker'].name }}
        auth:
            username: "{{ sensor['broker'].auth.username }}"
            password: "{{ sensor['broker'].auth.password }}"
    attributes:
    {% for attr in sensor['attributes'] %}
        - {{ attr[0] }}: {{ attr[1] }}
    {% endfor %}
end

{% endfor %}
{% for actuator in actuators %}
Entity {{ actuator['name'] }}
    type: {{ actuator['type'] }}
    topic: "{{ actuator['topic'] }}"
    broker:
        ref: {{ actuator['broker'].name }}
        auth:
            username: "{{ actuator['broker'].auth.username }}"
            password: "{{ actuator['broker'].auth.password }}"
    attributes:
    {% for attr in actuator['attributes'] %}
        - {{ attr[0] }}: {{ attr[1] }}
    {% endfor %}
end

{% endfor %}
